@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

:root{
    --text: #dddddd;
    --bg: #000;
    --index: #606060;
    --bg1: #111111;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body{
    overflow-x: hidden;
    background: var(--bg);
    color: var(--text);
}

a{
    color: var(--text);
    text-decoration: none;
    outline: none;
}

textarea, button, input{
    border: 0;
    outline: 0;
    color: var(--text);
    background: var(--bg);
    border: 1px solid var(--bg);
    font-family: 'Montserrat', sans-serif;
    transition:  background ease-out 0.5s;
}


input::placeholder, textarea::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}


::-webkit-scrollbar {
    width: 0px;
    height: 0;
    background: rgba(0, 0, 0, 0.0);
}